@model ProjektAspNet.Models.Entities.Hotel

<h1>Szczegóły hotelu</h1>

<p><strong>Nazwa:</strong> @Model.Nazwa</p>
<p><strong>Lokalizacja:</strong> @Model.Lokalizacja</p>
<p><strong>Cena za noc:</strong> @Model.CenaZaNoc zł</p>
<p><strong>Dostępne pokoje:</strong> @Model.DostępnePokoje</p>

<a href="/Hotele/Index">Powrót do listy</a>
